* {
  margin: 0;
  padding: 0;
}

body, html {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

header {
  display: block;
  position: relative;
  height: 227px;
}

header #subtitle {
  position: absolute;
  margin: 0 auto;
  top: 41px;
  width: 100%;
  text-align: center;
}

header #logo {
  position: absolute;
  width: 100%;
  top: 97px;
  text-align: center;
}

.main {
  min-height: 266px; 
}

.main-inner {
  padding-top: 90px;
  margin: 0 auto;
  width: 600px;
}

.main-inner #about {
  text-align: center;
  margin-bottom: 60px;
}

.main-inner .left,
.main-inner .right {
  float: left;
}

.main-inner .left {
  width: 400px;
}

.main-inner .right { 
  width: 200px;
}

.main-inner .clear {
  clear: both;
}

.main-inner li {
  list-style: none;
  margin-bottom: 1em;
}

.main-inner li .pixmap {
  margin-right: 0.3em;
}

#copy {
  text-align: center;
  margin: 4em 0 4em;
}
