* {
    margin: 0;
    padding: 0;
}

body, html {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

header {
    display: block;
    position: relative;
    height: 249px;
    padding-top: 0.2px;
}

header #subtitle {
    position: absolute;
    margin: 0 auto;
    top: 41px;
    width: 100%;
    text-align: center;
}

header #logo {
    width: 480px;
    height: 233px;
    background: #fff url('../img/logo.png') center center no-repeat;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    text-align: left;
    text-indent: -126000px;
    margin: 50px auto 0;
    text-align: center;
}

.main {
    min-height: 266px;
    padding-top: 0.2px;
}

.main-inner {
    padding-top: 2em;
    margin: 54px auto 0;
    width: 480px;
    background: #fff;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

.main-inner #about {
    text-align: center;
    margin-bottom: 20px;
}

.main-inner .left, .main-inner .right {
    float: left;
}

.main-inner .left {
    width: 340px;
}

.main-inner .right {
    width: 260px;
}

.main-inner .clear {
    clear: both;
}

.main-inner p {
    text-align: center;
    margin: 4em 0 4em;
}

.main-inner .tagline {
    font-size: 120%;
}

body {
    background: #162d50;
    color: #e3e2db;
}

header {
    background: #dbd7d1 url(../img/headerbg.png) no-repeat center top;
}

.main {
    background: #132544;
    background: -moz-linear-gradient(top, #132544 0%, #254d89 100px, #162d50 266px);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #132544), color-stop(100px, #254d89), color-stop(266px, #162d50));
    background: -webkit-linear-gradient(top, #132544 0%, #254d89 100px, #162d50 266px);
    background: -o-linear-gradient(top, #132544 0%, #254d89 100px, #162d50 266px);
    background: -ms-linear-gradient(top, #132544 0%, #254d89 100px, #162d50 266px);
    background: linear-gradient(top, #132544 0%, #254d89 100px, #162d50 266px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#132544', endColorstr='#162d50', GradientType=0);
}

a {
    color: #00ccff;
}

h2 {
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: 14pt;
    font-weight: normal;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 1em;
}

h3 {
    margin-bottom: 1em;
}

#about {
    font-size: 18px;
}

#copy {
    font-size: 12px;
}